* {
    margin-left:50px; margin-right: 50px; margin-top: 0;box-sizing: border-box;

}
#container{
    min-height: 50 vh;
}
.top{
    background-color:rgb(202, 0, 0);
    text-align:center;
    font: weight 2px;
    text-transform:uppercase;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px ;
    color:white; 
    text-shadow: 1px 2px #ff0000;
    height: 5vh;
    width:100%;  
}
.up{
    background-color: #4D8BBC;
    height: 50%;
    width:100%;
}
.name{
    font-style: italic;
    text-transform:uppercase;
    font-family:'Architects Daughter', cursive;
    

}
.sname{
    font-family: 'Roboto Condensed', sans-serif;;
    color:  yellow;
    font-size: larger;
    text-transform: uppercase;
}
.des{
    text-indent: 50px;
}
.right{
    left: 900px;
    bottom: 50px;
    position:relative;
    width: 200px;
    
}
.down{
    background-color: #EDAC4D;
    height: 50%;
    width:100%;
}
.name2{
    font-style: italic;
    text-transform:uppercase;
    font-family:'Roboto', sans-serif;
}
.sname2{
    font-family: 'Zen Kurenaido', sans-serif;;
    color:  red;
    font-size: larger;
    text-transform: uppercase;
}
.des2{
    text-indent: 50px;
}
